# Ignore version control files
.git
.gitignore

# Ignore Python bytecode files
*.pyc

# Ignore Docker related files
.dockerignore

# Ignore development and local files
venv/
*.env
*.log
*.sqlite3

# Ignore node_modules (if you're using Node.js)
node_modules/
